<html>
   <h1>Unit Management</h1>
   <form method="POST">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="save">
   </form>
   
   
   <label>Name Contains</label>
   <input/>
   <button>Search</button>
   <table border="1" >
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
            <th>Price</th>
            <th>Image</th>
            <th>Category</th>
            <th>Unit</th>
            <th>Action</th>
        </tr>
        {% for unit in page %}
        <tr>
             <td>{{itm.id}}</td>
             <td>{{item.name}}</td>
             <td><button>{{item.price}}</td>
            <td><img src="{{item.image}}"></td>
            <td>{{item.category}}</td>
            <td>{{item.unit}}</td>
            <td><button>View</button></td>
         </tr>
         {% for endfor %}
   </table>
    